body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
th{
    text-align: left;
}
img{
    width: 100%;
    margin-bottom: 10px;

}
.outline{
    border: 1px solid;
    width: 60%;
    margin: 10px auto;

}
.judul{
    text-align: center;
    background: fixed;

}
.blok{
    overflow: hidden;
}
.kiri{
    width: 20%;
    float: left;

}
.kanan{
    width: 70%%;
    padding: 0px;
}

@media only screen and(max-width: 768px) {
    .outline{
        width: 100%;
        padding: 0px;
        border: none;
    }
    .kiri{
        width: 100%;
    }
    .kanan{
        width: 100%;
        padding: 0px;
    }
}
